*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
a{
  text-decoration: none;
}
.header-root{
  width: 100%;
  padding: 1em 1.2em;
  background-color: #03a9f4;
  display: flex;
  justify-content: space-between;
}
.header-root a{
  display: block;
  color: white;
  font-size: 1.4em;
  font-family: arial;
}
.header-root .right{
  display: flex;
}
.header-root .right a{
  padding-left: 0.8em;
}
.header-root .right .cools{
  color: #eb2d6e;
}
.home{
  height: 100%;
  padding: 5em 1em;
}
.home>p{
  width: 10%;
  margin: 0 auto;
  text-align: center;
  border-bottom:2px solid #03a9f4;
  font-weight: bold;
  font-size: 1.2em;
}
.home-root{
  height: 100%;
  padding: 2em 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.home-root .image{
  width: 240px;
  height: 150px;
  text-align: center;
  background-color: #ccc;
}
.home-root .card{
  border: 1px solid #ccc;
  border-radius: 0.2em;
  box-shadow: 0 0 4px 4px rgba(0,0,0,.05);
}
.home-root p{
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.signin-root{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 5em 0;
}
.signin-root label{
  margin-right: 1em;
}
.signin-root .button{
  margin-top: 2em;
}
